{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
  <ul class="type-payment">
    <li>
      <a href="{% url 'doacoes:inicio' forma_pagamento='cartao' %}">
        <img src="{% static 'img/credit-card.svg' %}" alt="Cartão de Crédito" />
      </a>
    </li>
    <li>
      <a href="{% url 'doacoes:inicio' forma_pagamento='boleto' %}">
        <img src="{% static 'img/barcode.svg' %}" alt="Boleto" />
      </a>
    </li>
    <li>
      <a href="{% url 'doacoes:inicio' forma_pagamento='paypal' %}">
        <img src="{% static 'img/paypal.svg' %}" alt="PayPal" />
      </a>
    </li>
  </ul>
{% endblock %}
