{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
  <p class="text-left">Atendemos diariamente aproximadamente 1200 pessoas, sendo que cerca de 70% dos nossos pacientes são de baixa renda.Temos 61 anos de história com nosso atendimento de ponta e de muita eficiência e muito carinho com todos os nossos pacientes. Ninguém faz reabilitação nós.</p>
  <p class="text-left">Para continuar a ajudar cada vez mais pessoas precisamos da sua ajuda. Doe e faça da ABBR mais ABBR!</p>
  <ul class="type-payment">
    <li>
      <a href="{% url 'doacoes:inicio' forma_pagamento='cartao' %}">
        <img src="{% static 'img/credit-card.svg' %}" alt="Cartão de Crédito" />
      </a>
    </li>
    <li>
      <a href="{% url 'doacoes:inicio' forma_pagamento='boleto' %}">
        <img src="{% static 'img/barcode.svg' %}" alt="Boleto" />
      </a>
    </li>
    <li>
      <a href="{% url 'doacoes:inicio' forma_pagamento='paypal' %}">
        <img src="{% static 'img/paypal.svg' %}" alt="PayPal" />
      </a>
    </li>
  </ul>
{% endblock %}
