{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
  <h2>Obrigado!</h2>
  <p>Estamos muito felizes com a sua contribuição nessa causa :)</p>
  <p>você com certeza vai mudar a vida de alguma pessoa com essa doação!</p>

  {% if object.forma_pagamento == 'boleto' %}
    <p>Clique <a href="{{ object.boleto_url }}">aqui</a> para imprimir seu boleto.</p>
  {% elif object.forma_pagamento == 'paypal' %}
    <p>Clique <a href="javascript:void(0);" id="submit">aqui</a> para ser redirecionado para o PayPal e concluir seu pagamento.</p>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="paypal" style="display: none">
      <input type="hidden" name="cmd" value="_donations">
      <input type="hidden" name="business" value="andreluiz0112-facilitator@gmail.com">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="item_name" value="ABBR">
      <input type="hidden" name="item_number" value="teste">
      <input type="hidden" name="no_note" value="0">
      <input type="hidden" name="amount" value="{{ object.valor_doacao|floatformat:"-2" }}">
      <input type="hidden" name="item_number" value="{{ object.pk }}">
      <input type="hidden" name="currency_code" value="BRL">
      <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
    </form>
  {% endif %}

  <p>A ABBR é + com você</p>

  <ul class="type-payment">
    <li>
      <a href="javascript:fbShare();">
        <img src="{% static 'img/facebook.svg' %}" alt="Facebook" />
      </a>
    </li>
    <li>
      <a href="javascript:twitterShare();">
        <img src="{% static 'img/twitter.svg' %}" alt="Twitter" />
      </a>
    </li>
  </ul>
{% endblock %}

{% block extra_js %}
  {% if object.forma_pagamento == 'paypal' %}
    <script>
      $(document).ready(function() {
        $('#submit').on('click', function() {
          $('#paypal').submit();
        });
      });
    </script>
  {% endif %}
{% endblock %}
