Django==1.9.5

dj-database-url==0.3.0
django-floppyforms==1.6.2
django-debug-toolbar==1.4
django-extensions==1.6.1

-e git+https://github.com/dvl/mundipagg-one-python.git#egg=mundipagg_one
python-decouple==3.0

psycopg2==2.6.1
waitress==0.8.10
whitenoise==3.0
