Django==1.9.5

dj-database-url==0.3.0
django-debug-toolbar==1.4
django-extensions==1.6.1
djangorestframework==3.3.3

git+https://github.com/dvl/mundipagg-one-python.git@9cf463d21111b2d976d4eb79562b4296ce1b06a3#egg=mundipagg_one_python
python-decouple==3.0

psycopg2==2.6.1
waitress==0.8.10
whitenoise==3.0
