header {
  color: #fff;
  /*padding-bottom: 20px;*/

  background: -webkit-gradient(linear, 0 100%, 0 0, from(#2f5ca7), to(#3c75d3));
  background: -webkit-linear-gradient(#2f5ca7 0%, #3c75d3 100%);
  background: -moz-linear-gradient(#2f5ca7 0%, #3c75d3 100%);
  background: -o-linear-gradient(#2f5ca7 0%, #3c75d3 100%);
  background: linear-gradient(#2f5ca7 0%, #3c75d3 100%);
}

header h1 {
  margin: 40px 0;
}

html,
body {
  background: #f9f9f9;
}

.content {
  background-color: white;
  padding: 20px 15px;
}
