
{% load compress %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% compress css %}
    <link rel="stylesheet" type="text/x-sass" href="{% static 'sass/app.sass' %}">
  {% endcompress %}

  {% block extra_css %}{% endblock %}
</head>
<body>
  <nav></nav>

  <main></main>

  <footer></footer>

  {% compress js %}
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  {% endcompress %}

  {% block extra_js %}{% endblock %}
</body>
</html>

